name: Build Android WebView

on:
  workflow_dispatch:

jobs:
  build:
#    runs-on: ubuntu-latest
    runs-on: self-hosted

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Dependencies (Python 3.10)
      run: |
        sudo apt update
        sudo apt install -y software-properties-common
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt update
        sudo apt install -y python3.10 python3.10-distutils python3.10-dev git curl openjdk-11-jdk build-essential lsb-release
        sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.10 1
        curl -sS https://bootstrap.pypa.io/get-pip.py | sudo python3.10

    - name: Check Python version
      run: python3 --version

    - name: Setup depot_tools
      run: |
        git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git --depth 1
        echo "$PWD/depot_tools" >> $GITHUB_PATH
        echo "DEPOT_TOOLS_UPDATE=0" >> $GITHUB_ENV

    - name: Fetch Chromium (Android)
      run: |
        mkdir chromium && cd chromium
        fetch --no-history android
        cd src
        gclient sync --no-history --with_branch_heads

    - name: Configure GN for WebView
      working-directory: chromium/src
      run: |
        gn gen out/Default --args='
          target_os="android"
          target_cpu="arm64"
          is_debug=false
          is_component_build=false
          symbol_level=0
          enable_nacl=false
          use_jumbo_build=true
          proprietary_codecs=false
          ffmpeg_branding="Chrome"
        '

    - name: Build System WebView
      working-directory: chromium/src
      run: |
        autoninja -C out/Default system_webview_apk

    - name: Upload APK artifacts
      uses: actions/upload-artifact@v4
      with:
        name: webview
        path: |
          chromium/src/out/Default/apks/SystemWebView.apk
